
.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}


/*dataTables_filter > label{
    width:90%;
    margin-left:10%;
}*/


.dark-overlay {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    min-width:100%;
    min-height: 90%;
}

#main {
    background: url('img/Bridgestone.jpg');
    min-height: 90vh;
    min-width: 90vh;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(136, 23, 23, 0.822);
    border-bottom: rgb(119, 20, 20) 4px solid;
}

.table {
    background-color: rgba(255, 255, 255, 0.863);
}
/*estilos para la tabla*/
table th {
    /*background-color: #b92828 !important;*/
    color: rgb(0, 0, 0);
    font-size: 11px;
}

table > tbody > tr > td {
    vertical-align: middle !important;
    
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}
